<%= simple_form_for(@session, :html => {:class => 'form-horizontal' }) do |f| %>
  
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :is_keynote, as: :boolean %> 
    <%= f.input :startTime, as: :datetime %>
    <%= f.input :endTime , as: :datetime %>
    <%= f.association :room , collection: Room.all -%>
	<%= f.association :speakers, collection:  Speaker.all, :multiple => true %>
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
