<h1>Listing sessions</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Keynote</th>

    <th>Starttime</th>
    <th>Endtime</th>
    <th>Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.title %></td>
    <td><%= session.description %></td>
    <td><%= session.is_keynote %></td>
    <td><%= session.startTime %></td>
    <td><%= session.endTime %></td>
    <td><a href="<%= room_path session.room %>"><%= session.room.name %></a></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
