<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @session.title %>
</p>

<p>
  <b>Description:</b>
  <%= @session.description %>
</p>

<p>
  <b>Starttime:</b>
  <%= @session.startTime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @session.endTime %>
</p>

<p>
  <b>Room:</b>
  <a href="<%= room_path @session.room %>"><%= @session.room.name %></a>
</p>
<p>
  <b>Speakers:</b>
   <% @session.speakers.each do |speaker| %>
    <a href="<%= speaker_path speaker %>"><%= speaker.name %></a>
   <% end %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
