<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @speaker.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @speaker.bio %>
</p>

<p>
  <b>Photo:</b>
  <%= @speaker.photo %>
</p>

<p>
  <b>Sessions:</b>
   <% @speaker.sessions.each do |session| %>
    <a href="<%= session_path session %>"><%= session.title %></a>
   <% end %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
